doctype html
html(lang='en')
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width')
    meta(name='format-detection' content='email=no,telephone=no')
    title= meta.title
    meta(name='description' content=meta.description)
    meta(name='theme-color' content='#b8d1ea')
    link(rel='stylesheet' href=`${meta.publicUrl}index.css`)
    link(rel='apple-touch-icon' sizes='192x192' href='media/favicon.png')
    link(rel='icon' type='image/png' sizes='192x192' href='media/favicon.png')
    
  body(class=`
    bg-white
    text-darker
    font-barlow
    font-regular
    text-sm c17_text-base
    leading-sm c17_leading-base
  `)
    .sidebar#pageSidebar(class=`
      c11_border-r
      border-darker-blue-purple
      bg-darker-blue-purple
    `)
      include /sidebar.pug
        
    main#pageMain(class=`
      w-screen
      min-h-screen
      py-2b c17_py-3b
    `)
      .container#pageContent
        include /tabpanel-0.pug

    footer#pageFooter(class=`
      w-screen
      min-h-7c
      pt-2b c17_pt-3b
      bg-dark-blue-purple
      text-light
      text-sm
      leading-sm
    `)
      .container
        include /footer.pug

    script(src=`${meta.publicUrl}index.js`)
