include /_mixins/index.pug


+tabpanel('3', routes[3].label)
  +toc()
    != content.bordersToc

  +lede()
    != content.bordersLede
    
  section
    h2#width= 'Width'
    
    .mb-2b
      != content.bordersWidth
    
    each i in [1, 2, 3, 4, 5, 6, 7, 8]
      +level('mb-half-b')
        div
          .w-2c.h-1b
          .w-2c.h-1b.border-dark(class=`border-t-${i}`)
          .w-2c(class=`border-t-${i}`)
        
        +label(`border-${i}`)
    
  section
    h2#radius= 'Radius'
    
    .mb-2b
      != content.bordersRadius
      
    each i in ['quarter-', 'half-', 1, 'one-and-half-', 2, 'two-and-half-', 3, 4, 5, 6, 7, 8]
      +rounded(`${i}b`, 'mb-1b')
        = `rounded-${i}b`
    
