include /_mixins/index.pug


+tabpanel('3', routes[3].label)
  +toc()
    != content.colorPaletteToc

  +lede()
    != content.colorPaletteLede
  
  section
    h2#hues= 'Hues'
    
    != content.colorPaletteHues
    
    .mt-2b
      each hue in colorPalette.hues
        +level('mb-half-b')
          div(class=`
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-bright-${hue}
          `)
          +label(hue)
  
  section
    h2#background-colors= 'Background Colors'
    
    != content.colorPaletteBgColors
    
    .mt-2b
      h3= 'gray'
      
      each shade in colorPalette.shades
        +level('mb-half-b')
          div(class=`
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-${shade}
          `)
          +label(`bg-${shade}`)
    
    each hue in colorPalette.hues
      .mt-2b
        h3= hue
        
        each shade in colorPalette.shades
          +level('mb-half-b')
            div(class=`
              flex-shrink-0
              w-2b
              h-2b
              rounded
              bg-${shade}-${hue}
            `)
            +label(`bg-${shade}-${hue}`)
  
  section
    h2#text-border-colors= 'Text & Border Colors'
    
    != content.colorPaletteTextColors
    
    .mt-2b
      h3= 'gray'
      
      each shade in colorPalette.shades
        +level('mb-half-b')
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            rounded
            border-2
            border-${shade}
            text-${shade}
          `)
            .font-semibold= 'a'
          
          +label(`text-${shade}`)

    each hue in colorPalette.hues
      .mt-2b
        h3= hue
          
        each shade in colorPalette.shades
          +level('mb-half-b')
            div(class=`
              flex
              items-center
              justify-center
              flex-shrink-0
              w-2b
              h-2b
              rounded
              border-2
              border-${shade}-${hue}
              text-${shade}-${hue}
            `)
              .font-semibold= 'a'
              
            +label(`text-${shade}-${hue}`)
  
  section
    h2#customizing= 'Customize Color Palette'
    
    != content.colorPaletteCustomizeHeading
    
    .mt-2b
      != content.colorPaletteCustomizeOptions
