include /_mixin-card.pug
include /_mixin-tabpanel.pug


+tabpanel('1', routes[1].label)
  section(class=`
    border-t-1
    border-b-1
    border-light
    text-sm
    leading-sm-narrow
  `)
    != content.layoutToc
    
  section#sizing-spacing
    h2= 'Sizing & Spacing'
      
    p.text-lg
      != content.layoutHeading
      
    .flex.items-center.mb-half-b
        code.w-4b.font-bold.text-sm 1b
        .w-1b.h-1b.bg-darker
        
    .flex.items-center.mb-half-b
        code.w-4b.font-bold.text-sm 1c
        .w-1c.h-1b.bg-darker
    
    h3= 'Base Units'
    
    -
      const baseUnits = [
        ['quarter-', 0.25],
        ['half-', 0.5], 
        ['1', 1],
        ['one-and-half-', 1.5],
        ['2', 2],
        ['two-and-half-', 2.5],
        ['3', 3],
        ['4', 4],
        ['5', 5],
        ['6', 6],
        ['7', 7],
        ['8', 8],
      ];
    
    each i in baseUnits
      - const [k,v] = i
      .flex.items-center.mb-half-b
        .h-1b.bg-darker(class=`w-${k}b`)
        code.pl-1b.font-bold.text-sm= `${k}b = ${v * 17}px`
        
    h3= 'Column Units'
      
    each i in [1, 2, 3, 4]
      .flex.items-center.mb-half-b
        .h-1b.bg-darker(class=`w-${i}c`)
        code.pl-1b.font-bold.text-sm= `${i}c = ${i * 68}px`
        
    p.font-semibold #[em Up to] #[code 20c]
  
  section#responsive-breakpoints
