include /_mixins/index.pug


+tabpanel('1', routes[1].label)
  section
    +toc()
      != content.layoutToc
  
  section  
    +lede('pb-2b')
      != content.layoutLede1
      
    +level('mb-half-b')
      .w-1b.h-1b.bg-dark
      +label('1b → 16px')
        
    +level('mb-one-and-half-b')
      .w-1c.h-1b.bg-dark
      +label('1c → 64px')
    
    != content.layoutLede2
  
  section
    h2#base-units= 'Base Units'

    != content.layoutBaseUnits
  
    each i in ['quarter-', 'half-', 1, 'one-and-half-', 2, 'two-and-half-', 3, 4, 5, 6, 7, 8]
      +level('mb-half-b')
        .h-1b.bg-dark(class=`w-${i}b`)
        +label(`${i}b`)
  
  section
    h2#column-units= 'Column Units'
    
    != content.layoutColumnUnits
    
    each i in [1, 2, 3]
      +level('mb-half-b')
        .h-1b.bg-dark(class=`w-${i}c`)
        +label(`${i}c`)
    
    each i in [4, 5, 6]
      div(class=`
        hidden c11_flex
        items-center
        mb-half-b
      `)
        .h-1b.bg-dark(class=`w-${i}c`)
        +label(`${i}c`)
        
    each i in [7, 8, 9]
      div(class=`
        hidden c17_flex
        items-center
        mb-half-b
      `)
        .h-1b.bg-dark(class=`w-${i}c`)
        +label(`${i}c`)
        
    p.font-semibold.italic= '... up to 20c'
  
  section
    h2#relative-proportions= 'Relative Proportions'
    
    != content.layoutRelativeProportions
    
    each i in ['fifth', 'fourth', 'third', 'two-fifths', 'half', 'three-fifths', 'two-thirds', 'three-fourths', 'four-fifths', 'full']
      +level('mb-half-b')
        div(class=`
          w-2c c11_w-4c c17_w-6c 
          bg-darker
        `)
          .h-1b.bg-soft-red(class=`w-${i}`)
        +label(i)
