include /_mixins/index.pug


+tabpanel('2', routes[2].label)
  +toc()
    != content.typographyToc
  
  section  
    +lede()
      != content.typographyLede
  
  section
    h2#size= 'Size'
    
    each i in ['xs', 'sm', 'base', 'lg', 'xl', '2xl', '3xl', '4xl', '5xl', '6xl']
      p(class=`text-${i}` style='line-height: 1')= `text-${i}`
    
    h2#leading= 'Leading'
    
    each rows, i in {xs: 3, sm: 4, base: 4, lg: 4, xl: 5}
      each j in ['', '-narrow', '-wide']
        +gridlines(rows)
          div(class=`
            px-half-b mx-1b
            bg-light-red-orange
            text-${i}
            leading-${i}${j}
          `)= `leading-${i}${j}`
  
  section
    h2#family= 'Family'
    
    each category in ['Sans', 'Condensed', 'Serif', 'Mono']
      h3= category
    
      ul.unstyled
        each url, name in fontFamilies[category.toLowerCase()]
          li.mb-half-b
            +extLink(url)
              +label(`font-${name}`)
  
  section
    h2#weight= 'Weight'
    
    +label('font-regular → 400')
    