include /_mixins/label.pug
include /_mixins/lede.pug
include /_mixins/level.pug
include /_mixins/spacer.pug
include /_mixins/tabpanel.pug
include /_mixins/toc.pug


+tabpanel('2', routes[2].label)
  section
    +toc()
      != content.typographyToc
  
  section  
    +lede()
    
    h2#size= 'Size'
    
    each i in ['xs', 'sm', 'base', 'lg', 'xl', '2xl', '3xl', '4xl', '5xl', '6xl']
      p(class=`text-${i}` style='line-height: 1')= `text-${i}`
    
    h2#leading= 'Leading'
    
    each i in ['sm', 'base', 'lg', 'xl']
      +level()
        each j in ['-narrow', '', '-wide']
          div(class=`
            relative
            w-full
            max-w-5c
            h-4b
            border-t-1
            border-l-1
            border-r-1
            border-light
            border-dotted
          `)
            each k in [1, 2, 3, 4]
              div(class=`
                h1-b
                border-b-1
                border-light
                border-dotted
              )
            div(class=`
              absolute
              top-0
              bottom-0
              left-0
              right-0
              flex
              items-center
            `)
              div(class=`
                px-half-b mx-1b
                bg-light-yellow-orange
                text-${i}
                leading-${i}${j}
              `)= `leading-${i}${j}`
    
    h2#family= 'Family'
    
    h2#weight= 'Weight'
