include /_mixin-card.pug
include /_mixin-tabpanel.pug


+tabpanel('1', routes[1].label)
  section
    div(class=`
      py-1b
      border-t-1
      border-b-1
      border-light
    `)
      != content.layoutToc
  
  section  
    .py-2b.text-lg.leading-lg-narrow
      != content.layoutHeading
      
    .flex.items-center.mb-half-b
      .w-1b.h-1b.bg-darker
      code.pl-1b.font-bold.text-sm= '1b → 17px'
        
    .flex.items-center.mb-half-b
      .w-1c.h-1b.bg-darker
      code.pl-1b.font-bold.text-sm= '1c → 68px'
        
    h2#base-units= 'Base Units'

    != content.layoutBaseUnits
  
    each i in ['quarter-', 'half-', 1, 'one-and-half-', 2, 'two-and-half-', 3, 4, 5, 6, 7, 8]
      .flex.items-center.mb-half-b
        .h-1b.bg-darker(class=`w-${i}b`)
        code.pl-1b.font-bold.text-sm= `${i}b`
        
    h2#column-units= 'Column Units'

    != content.layoutColumnUnits
    
    each i in [1, 2, 3, 4]
      .flex.items-center.mb-half-b
        .h-1b.bg-darker(class=`w-${i}c`)
        code.pl-1b.font-bold.text-sm= `${i}c`
        
    p.font-semibold.font-italic Column unit values 5c to 20c not shown.
  
    h2#responsive-breakpoints= 'Responsive Breakpoints'
