include /_mixins/index.pug


+tabpanel('2', routes[2].label)
  +toc()
    != content.typographyToc
  
  +lede()
    != content.typographyLede
  
  section
    h2#size= 'Size'
    
    .mb-2b
      != content.typographySize
    
    each i in ['xs', 'sm', 'base', 'lg', 'xl', '2xl', '3xl', '4xl', '5xl', '6xl']
      p(class=`text-${i} leading-none`)= `text-${i}`
    
  section
    h2#leading= 'Default Leadings'
    
    .mb-2b
      != content.typographyDefaultLeadings

    each rows, i in {xs: 3, sm: 4, base: 4, lg: 4, xl: 5}
      h3= i

      each j in ['', '-narrow', '-wide']
        +gridlines(rows)
          div(class=`
            px-half-b mx-1b
            bg-medium-light-red-orange
            text-${i}${j}
          `)= `text-${i}${j}`
    
    p.font-semibold.italic= '... up to 6xl'
    
  section
    h2#leading= 'Leading Override'
    
    .mb-2b
      != content.typographyLeadingOverride
    
    h3= 'Exact-pixel'
    
    ul
      each i in ['xs → 14px', 'sm → 16px', 'base → 20px', 'lg → 24px', 'xl → 32px', '2xl → 40px', '3xl → 48px', '4xl → 64px', '5xl → 80px', '6xl → 96px']
        li
          +label(i)
    
    h3= 'Relative'
    
    ul
      each i in ['none → 1', 'quarter → 1.25', 'three-eighths → 1.375', 'half → 1.5', 'five-eighths → 1.625', 'whole → 2']
        li
          +label(i)
  
  section
    h2#family= 'Family'
    
    .mb-2b
      != content.typographyFamily
    
    each category in ['Sans', 'Condensed', 'Serif', 'Mono']
      h3= category
    
      ul.unstyled
        each url, name in fontFamilies[category.toLowerCase()]
          li.mb-half-b
            +extLink(url)
              +label(`font-${name}`)
  
  section
    h2#weight= 'Weight'
    
    .mb-2b
      != content.typographyWeight
    
    +label('font-regular → 400')
    