include /_mixins/index.pug


+tabpanel('3', routes[3].label)
  section.px-1b
    +toc()
      != content.colorPaletteToc
  
  section  
    +lede('mb-2b')
      != content.colorPaletteLede
    
    h2#hues= 'Hues'
    
    .mb-2b
      != content.colorPaletteHues
    
    .mb-2b
      each hue in colorPalette.hues
        +level('mb-half-b')
          div(class=`
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-bright-${hue}
          `)
          +label(hue)
    
    h2#background-colors= 'Background Colors'
    
    .mb-2b
      != content.colorPaletteBgColors
    
    h3= 'gray'
    
    .mb-2b
      each shade in colorPalette.shades
        +level('mb-half-b')
          div(class=`
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-${shade}
          `)
          +label(`bg-${shade}`)
    
    .mb-2b
      each hue in colorPalette.hues
        h3= hue
        
        each shade in colorPalette.shades
          +level('mb-half-b')
            div(class=`
              flex-shrink-0
              w-2b
              h-2b
              rounded
              bg-${shade}-${hue}
            `)
            +label(`bg-${shade}-${hue}`)
    
    h2#text-border-colors= 'Text & Border Colors'
    
    .mb-2b
      != content.colorPaletteTextColors
    
    h3= 'gray'
    
    .mb-2b
      each shade in colorPalette.shades
        +level('mb-half-b')
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            rounded
            border-2
            border-${shade}
            text-${shade}
          `)
            .font-semibold= 'a'
          
          +label(`text-${shade}`)

    .mb-2b
      each hue in colorPalette.hues
        h3= hue
        
        each shade in colorPalette.shades
          +level('mb-half-b')
            div(class=`
              flex
              items-center
              justify-center
              flex-shrink-0
              w-2b
              h-2b
              rounded
              border-2
              border-${shade}-${hue}
              text-${shade}-${hue}
            `)
              .font-semibold= 'a'
              
            +label(`text-${shade}-${hue}`)
          
    h2#customizing= 'Customize Color Palette'
    
    .mb-2b
      != content.colorPaletteCustomizeHeading
    
    .mb-2b
      != content.colorPaletteCustomizeOptions
