include /_mixins/index.pug


+tabpanel('3', routes[3].label)
  section.px-1b
    +toc()
      != content.colorPaletteToc
  
  section  
    +lede()
    
    h2#background-colors= 'Background Colors'
    
    h3= 'gray'

    each shade in colorPalette.shades
      +level('mb-half-b')
        div(class=`
          flex-shrink-0
          w-2b
          h-2b
          rounded-2b
          bg-${shade}
        `)
        +label(`bg-${shade}`)
    
    each hue in colorPalette.hues
      h3= hue
      
      each shade in colorPalette.shades
        +level('mb-half-b')
          div(class=`
            flex-shrink-0
            w-2b
            h-2b
            rounded-1b
            bg-${shade}-${hue}
          `)
          +label(`bg-${shade}-${hue}`)
    
    h2#text-border-colors= 'Text & Border Colors'
    
    h3= 'gray'

    each shade in colorPalette.shades
      +level('mb-half-b')
        div(class=`
          flex
          items-center
          justify-center
          flex-shrink-0
          w-2b
          h-2b
          rounded-2b
          border-1
          border-${shade}
          text-${shade}
        `)
          div= 'a'
        div(class=`
          flex
          flex-col
          justify-center
        `)
          +label(`text-${shade}`)
          +label(`border-${shade}`)
    
    each hue in colorPalette.hues
      h3= hue
      
      each shade in colorPalette.shades
        +level('mb-half-b')
        div(class=`
          flex
          items-center
          justify-center
          flex-shrink-0
          w-2b
          h-2b
          rounded-2b
          border-1
          border-${shade}-${hue}
          text-${shade}-${hue}
        `)
          div= 'a'
        div(class=`
          flex
          flex-col
          justify-center
        `)
          +label(`text-${shade}-${hue}`)
          +label(`border-${shade}-${hue}`)
