include /_mixins/index.pug


+tabpanel('2', routes[2].label)
  +toc()
    != content.typographyToc
  
  +lede()
    != content.typographyLede
  
  section
    h2#size= 'Size'
    
    .mb-2b
      != content.typographySize
    
    each i in ['xs', 'sm', 'base', 'lg', 'xl', '2xl', '3xl', '4xl', '5xl', '6xl']
      p(class=`text-${i} leading-none`)= `text-${i}`
    
  section
    h2#leading= 'Default Leadings'
    
    .mb-2b
      != content.typographyDefaultLeadings

    each rows, i in {xs: 3, sm: 4, base: 4, lg: 4, xl: 5}
      h3= i

      each j in ['', '-narrow', '-wide']
        +gridlines(rows)
          div(class=`
            px-half-b mx-1b
            bg-medium-light-red-orange
            text-${i}${j}
          `)= `text-${i}${j}`
    
    p.font-semibold.italic= '... up to 6xl'
    
  section
    h2#leading= 'Leading Override'
    
    .mb-2b
      != content.typographyLeadingOverride
    
    h3= 'Exact-pixel'
    +label('xs → 14px')
    +label('sm → 16px')
    +label('base → 20px')
    +label('lg → 24px')
    +label('xl → 32px')
    +label('2xl → 40px')
    +label('3xl → 48px')
    +label('4xl → 64px')
    +label('5xl → 80px')
    +label('6xl → 96px')
    
    h3= 'Relative'
    +label('none → 1')
    +label('quarter → 1.25')
    +label('three-eighths → 1.375')
    +label('half → 1.5')
    +label('five-eighths → 1.625')
    +label('whole → 2')
  
  section
    h2#family= 'Family'
    
    .mb-2b
      != content.typographyFamily
    
    each category in ['Sans', 'Condensed', 'Serif', 'Mono']
      h3= category
    
      ul.unstyled
        each url, name in fontFamilies[category.toLowerCase()]
          li.mb-half-b
            +extLink(url)
              +label(`font-${name}`)
  
  section
    h2#weight= 'Weight'
    
    .mb-2b
      != content.typographyWeight
    
    +label('font-regular → 400')
    