include /_mixins/index.pug


+tabpanel('3', routes[3].label)
  +toc()
    != content.colorPaletteToc

  +lede()
    != content.colorPaletteLede
  
  section
    h2#hues= 'Hues'
    
    != content.colorPaletteHues
    
    .mt-2b
      each hue in colorPalette.hues
        +level('mb-half-b')
          div(class=`
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-bright-${hue}
          `)
          
          +label(hue)
  
  section
    h2#background-colors= 'Background Colors'
    
    != content.colorPaletteBgColors
    
    .mt-2b
      h3= 'gray'
      
      each shade in ['white', 'near-white', 'lighter', 'light', 'medium-light']
        +level('mb-half-b')
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-${shade}
            text-darker
          `)
            .font-semibold= 'a'
            
          
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            ml-half-b
            rounded
            border-2
            border-${shade}
            bg-darker
            text-${shade}
          `)
            .font-semibold= 'a'
          
          +label(shade)
          
      each shade in ['bright', 'soft', 'softer', 'medium', 'medium-dark', 'dark', 'darker', 'near-black', 'black']
        +level('mb-half-b')
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            ml-half-b
            rounded
            bg-${shade}
            text-white
          `)
            .font-semibold= 'a'
            
          
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            rounded
            border-2
            border-${shade}
            bg-white
            text-${shade}
          `)
            .font-semibold= 'a'
          
          +label(shade)
    
    each hue in colorPalette.hues
      .mt-2b
        h3= hue
        
        each shade in ['white', 'near-white', 'lighter', 'light', 'medium-light']
        +level('mb-half-b')
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-${shade}-${hue}
            text-darker
          `)
            .font-semibold= 'a'
            
          
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            ml-half-b
            rounded
            border-2
            border-${shade}-${hue}
            bg-darker
            text-${shade}-${hue}
          `)
            .font-semibold= 'a'
          
          +label(`${shade}-${hue}`)
          
      each shade in ['bright', 'soft', 'softer', 'medium', 'medium-dark', 'dark', 'darker', 'near-black', 'black']
        +level('mb-half-b')
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            ml-half-b
            rounded
            bg-${shade}-${hue}
            text-white
          `)
            .font-semibold= 'a'
            
          
          div(class=`
            flex
            items-center
            justify-center
            flex-shrink-0
            w-2b
            h-2b
            rounded
            border-2
            border-${shade}-${hue}
            bg-white
            text-${shade}-${hue}
          `)
            .font-semibold= 'a'
          
          +label(`${shade}-${hue}`)
  
  section
    h2#customizing= 'Customize Color Palette'
    
    != content.colorPaletteCustomizeHeading
    
    .mt-2b
      != content.colorPaletteCustomizeOptions
