include /_mixins/index.pug


+tabpanel('3', routes[3].label)
  +toc()
    != content.colorPaletteToc

  +lede()
    != content.colorPaletteLede
  
  section
    h2#hues= 'Hues'
    
    != content.colorPaletteHues
    
    .mt-2b
      each hue in colorPalette.hues
        +level('mb-half-b')
          div(class=`
            flex-shrink-0
            w-2b
            h-2b
            rounded
            bg-bright-${hue}
          `)
          
          +label(hue)
    
  section
    h2#shade-tone-variations= 'Shade/Tone Variations'
    
    != content.colorPaletteVariations

    each hue in colorPalette.hues
      .mt-2b
        h3= hue
        
        each shade in ['lighter', 'light', 'medium-light']
          +level('mb-half-b')
            +square(`bg-${shade}-${hue} text-darker`)
              .font-semibold= 'a'
              
            +square(`ml-half-b border-2 border-${shade}-${hue} bg-darker text-${shade}-${hue}`)
              .font-semibold= 'a'
            
            +label(`${shade}-${hue}`)
            
        each shade in ['bright', 'soft', 'softer', 'medium', 'medium-dark', 'dark', 'darker']
          +level('mb-half-b')
            +square(`bg-${shade}-${hue} text-white`)
              .font-semibold= 'a'
              
            +square(`ml-half-b border-2 border-${shade}-${hue} text-${shade}-${hue}`)
              .font-semibold= 'a'
            
            +label(`${shade}-${hue}`)
  
  section
    h2#grays= 'Grays'
    
    != content.colorPaletteGrays
    
    .mt-2b
      each shade in ['white', 'near-white', 'lighter', 'light', 'medium-light']
        +level('mb-half-b')
          +square(`bg-${shade} text-darker`)
            .font-semibold= 'a'
            
          +square(`ml-half-b border-2 border-${shade} bg-darker text-${shade}`)
            .font-semibold= 'a'
          
          +label(shade)
          
      +level('mb-half-b')
        +square(`bg-soft text-white`)
          .font-semibold= 'a'
          
        +square(`ml-half-b border-2 border-soft text-soft`)
          .font-semibold= 'a'
        
        +label('bright / soft')
          
      each shade in ['softer', 'medium', 'medium-dark', 'dark', 'darker', 'near-black', 'black']
        +level('mb-half-b')
          +square(`bg-${shade} text-white`)
            .font-semibold= 'a'
            
          +square(`ml-half-b border-2 border-${shade} text-${shade}`)
            .font-semibold= 'a'
          
          +label(shade)
  
  section
    h2#customizing= 'Customize Color Palette'
    
    != content.colorPaletteCustomizeHeading
    
    .mt-2b
      != content.colorPaletteCustomizeOptions
