include /_mixins/label.pug
include /_mixins/lede.pug
include /_mixins/level.pug
include /_mixins/spacer.pug
include /_mixins/tabpanel.pug
include /_mixins/toc.pug


+tabpanel('2', routes[2].label)
  section
    +toc()
      != content.typographyToc
  
  section  
    +lede()
    
    h2#size= 'Size'
    
    each v, k in { xs: 13, sm: 17, base: 21, lg: 27.5, xl: 34, 2xl: 44.5, 3xl: 55, 4xl: 72, 5xl: 89, 6xl: 116.5 },
      p(class=`text-${k}` style='line-height: 1')= `text-${k} → ${v} px`
    
    h2#leading= 'Leading'
    
    h2#family= 'Family'
    
    h2#weight= 'Weight'
