mixin vTablist(hue)
  - const maybeHue = hue ? `-${hue}` : ''

  ul(
    role='tablist'
    aria-orientation='vertical'
    class=`
      border-t
      c17_border-l
      c17_border-r
      c17_border-b
      c17_rounded
      border-soft${maybeHue}
      bg-light${maybeHue}
      text-medium-dark${maybeHue}
    `
  )
    each route, i in routes
      li: button(
        id=`nav-tab-${i}`
        role='tab'
        aria-controls=`main-tabpanel-${i}`
        data-url=(
          `${meta.publicUrl}${route.url}`
        ).replace('//', '/')
        data-active=[
          `bg-soft${maybeHue}`,
          `text-white`,
        ].join(' ')
        class=`
          w-full
          px-2b
          ${(i < routes.length - 1) ? 'border-b' : ''}
          border-soft${maybeHue}
          font-bold
          text-xs c17_text-sm
          leading-base c17_leading-base-wide
          tracking-wide
          uppercase
          text-left
        `
      )= route.label
